{% extends 'base.html.twig' %}
{% block body %}
<div class="level-item has-text-centered">
    <div class="content">
        <h4 class="text-center">Proszę poczekać aż admin aktywuje konto.</h4>
    </div>
</div>
{% endblock %}
