<div class="modal img-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <figure>
            <img class="modal-image" src="{{ '/photos/' ~ station.getImage() }}">
        </figure>
    </div>
</div>